.texte{
	color:WHITE;
	font-size: 1.5rem;
}

.text-center {
   text-align:center
}

.img-carte-main{
	height: 13vh;
	width: auto;
	display:inline-block;
}

.img-carte-main-perso{
	height: 20vh;
	width: auto;
	display: inline-block;
	
	transition: all .5s linear;
}

.img-carte-defausse{
	height: 15vh;
	width: auto;
	display: inline-block;
}

.darken:before {
	background: black;
	content: "";
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.joueur-valide{
	border: 2px solid yellow;
	border-radius : 12px;
	box-shadow: -1px 2px 100px 1px yellow inset;
}

.login { 
  background: ../../../img/login.jpg no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}